/* font */
@font-face {
  font-family: 'myFont';
  src: url(font/norse-bold-webfont.woff2) format(woff2),
       url(font/norse-bold-webfont.woff) format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */
body {
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.brand-container {
  position: relative;
  flex: 1 1 6%;
  min-width: 200px;
}

#brand-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#overlay-credit {
  position: absolute;
  font-size: 0.75rem;

  bottom: 10px;
  left: 30%;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 120px;
  padding: 0.5em;

  top: 23%;
}

#brand-name {
  font-size: 5em;
  font-family: 'myFont', sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

#hero {
  position: relative;
  flex: 1 1 6.5%; 
}

.paragraph-hero-1 {
  position: absolute;
  font-size: 1.20rem;
  font-weight: 600;
  
  display: inline-block;
  transform: scaleY(1.05);
  transform-origin: bottom;
  line-height: 1.2;
  
  top: 45%;
  left: 5%;
  right: 17%;
}

.paragraph-hero-2 {
  position: absolute;
  font-size: 1.20rem;
  font-weight: 600;

  display: inline-block;
  transform: scaleY(1.05);
  transform-origin: bottom;
  line-height: 1.2;

  bottom: 20%;
  left: 5%;
  right: 17%;
}

form {
  flex: 2;
}