/* font */
@font-face {
  font-family: 'myFont';
  src: url(font/norse-bold-webfont.woff2) format(woff2),
       url(font/norse-bold-webfont.woff) format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* layout */
body {
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.brand-container {
  position: relative;
  flex: 1 1 6%;
  min-width: 200px;
}

#brand-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#overlay-credit {
  position: absolute;
  font-size: 0.7rem;

  bottom: 1%;
  left: 32.5%;
}

.logo-container {
  display: flex;
  position: relative;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 127px;
  padding: 0.7em;
  background-color: rgba(0, 0, 0, 0.5);

  top: 22%;
}

#logo {
  position: absolute;
  width: 79px;
  height: 106px;
  top: 8%;
  left: 27%;
}

#brand-name {
  font-size: 5em;
  position: absolute;
  font-family: 'myFont', sans-serif;

  top: 3%;
  bottom: 3%;
  right: 28%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

#hero {
  position: relative;
  flex: 1 1 4.5%; 
}

.paragraph-hero-1 {
  position: absolute;
  font-size: 1.20rem;
  font-weight: 600;
  
  display: inline-block;
  transform: scaleY(1.05);
  transform-origin: bottom;
  line-height: 1.2;
  
  top: 46%;
  left: 5%;
  right: 17%;
}

.paragraph-hero-2 {
  position: absolute;
  font-size: 1.20rem;
  font-weight: 600;

  display: inline-block;
  transform: scaleY(1.05);
  transform-origin: bottom;
  line-height: 1.2;

  bottom: 17%;
  left: 5%;
  right: 17%;
}

form {
  flex: 2;
}

.form-body {
  min-height: 250px;
  flex-direction: column;
  
  padding: 0.90em 3em 1em 2.4em;
}

h1 {
  font-size: 1.20em;
  display: inline-block;
  transform: scaleY(1.05);
  transform-origin: bottom;
  line-height: 1.2;
}

.field {
  display: flex;
  min-height: 50px;
  padding-bottom: 0.05em;
}

label,
input {
  display: block;
}

label {
  font-size: 0.625rem;
  letter-spacing: 0.12em;
}

input {
  width: 215px;
  height: 26px;
  padding-left: 6px;
  border-radius: 4px;
  border: 0.5px solid #E5E7EB;

  font-size: 0.9rem;
  font-weight: 500;
}

.first-last-name,
.email,
.password {
  padding-top: 1em;
}

.last-name,
.phonenumber,
.confirm {
  padding-left: 4em;
}

.phonenumber,
.confirm {
  padding-top: 1em;
}

.form-actions {
  position: relative;
  min-height: 260px;
}

.form-actions button,
.form-actions p {
  position: absolute;
}

button { 
  width: 196px;
  height: 42px;
  left: 5%;
  top: 10.5%;

  border: none;
  border-radius: 5px;

  font-size: 0.925em;
  font-weight: 600;
}

.form-actions p {
  left: 5%;
  top: 37%;

  font-size: 0.92rem;
  transform: scaleY(1.05);
}


/* styling */
body {
  background-color: #1c1c1e;
}

#brand-name {
  color: white
}

#overlay-credit {
  color: white;
}

figcaption a {
  color: white
}

#hero {
  background-color: #f5f5f5;
}