/* font */
@font-face {
  font-family: 'myFont';
  src: url(font/norse-bold-webfont.woff2) format(woff2),
       url(font/norse-bold-webfont.woff) format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */
body {
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.brand-container {
  position: relative;
  flex: 1;
}

#brand-image {
  height: 100vh;
  width: auto;
  object-fit: cover;
}

#overlay-credit {
  position: absolute;
  font-size: 0.75rem;

  bottom: 10px;
  left: 200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 120px;
  padding: 0.5em;

  top: 200px;
}

#brand-name {
  font-size: 5em;
  font-family: 'myFont', sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}